<template>
  <div :class="$style.home">
    <div :class="$style.container">
      <div class="select">
        <div v-if="history.length > 0">
          <div class="list">
            <Post
              v-for="post in getHistory"
              :key="post.time"
              :id="post.id"
              :title="post.title"
              :date="post.time"
              :event="post.event"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Post from "@/components/Post";

export default {
  name: "History",
  components: {
    Post
  },
  computed: {
    ...mapState({
      history: state => state.posts.history
    }),
    getHistory() {
      switch (this.$route.query.event) {
        case "add":
          return this.history.filter(item => item.event === "add");
        case "delete":
          return this.history.filter(item => item.event === "delete");
        default:
          return this.history;
      }
    }
  },
  methods: {}
};
</script>

<style lang="scss" module>
.home {
  position: relative;
}
.container {
  display: grid;
}
</style>
