<template>
  <div :class="$style.home">
    <input
      type="text"
      :class="$style.search"
      v-model="searchText"
      placeholder="Поиск"
    />
    <div :class="$style.container">
      <div class="list">
        <div v-if="posts">
          <div :class="$style.list">
            <Post
              v-for="post in getSearchPostTitle"
              :key="post.id"
              :id="post.id"
              :title="post.title"
              :event="post.event"
            >
              <span @click="handleChangeSelectPost(post.id, 'add')">+</span>
            </Post>
          </div>
        </div>
      </div>
      <div class="select">
        <div v-if="posts">
          <div :class="$style.list">
            <Post
              :id="post.id"
              :title="post.title"
              :event="post.event"
              v-for="post in getPostDelete"
              :key="post.id"
            >
              <span @click="handleChangeSelectPost(post.id, 'delete')">
                -
              </span>
            </Post>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
import Post from "@/components/Post";

export default {
  name: "Home",
  components: {
    Post
  },
  computed: {
    ...mapState({
      posts: state => state.posts.posts,
      search: state => state.posts.search
    }),
    ...mapGetters({
      getSearchPostTitle: "posts/getSearchPostTitle",
      getPostDelete: "posts/getPostDelete"
    }),
    searchText: {
      get() {
        return this.search;
      },
      set(value) {
        this.GET_SEARCH(value);
      }
    }
  },
  methods: {
    ...mapActions({
      GET_SEARCH: "posts/GET_SEARCH",
      CHANGE_POST: "posts/CHANGE_POST",
      ADD_HISTORY: "posts/ADD_HISTORY"
    }),
    handleChangeSelectPost(id, event) {
      this.CHANGE_POST(id);
      this.ADD_HISTORY({ id, event });
    }
  }
};
</script>

<style lang="scss" module>
.home {
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.list {
  display: grid;
  row-gap: 10px;
}
.search {
  margin-bottom: 20px;
}
</style>
