<template>
  <div :class="$style.post">
    <div>{{ id }}</div>
    <div v-if="date">{{ getFormatDate(date) }}</div>
    <div>{{ title }}</div>
    <div>{{ getFormatEvent(event) }}</div>
    <div v-if="!event" :class="$style.action">
      <slot />
    </div>
  </div>
</template>

<script>
import dateMixin from "@/mixins/dateMixin";
import eventMixin from "@/mixins/eventMixin";
export default {
  mixins: [dateMixin, eventMixin],
  props: {
    id: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ""
    },
    event: {
      type: String,
      default: ""
    },
    date: {
      type: Number,
      default: 0
    }
  }
};
</script>

<style lang="scss" module>
.post {
  display: grid;
  font-size: 16px;
  padding: 5px;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 10px;
  background-color: #fafafa;
  position: relative;
}
.action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
  background: red;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
}
</style>
