<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Главная</router-link> |
      <router-link :to="{ name: 'History' }">История</router-link> |
      <router-link :to="{ name: 'History', query: { event: 'add' } }"
        >История добавления</router-link
      >
      |
      <router-link :to="{ name: 'History', query: { event: 'delete' } }"
        >История удаления</router-link
      >
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  mounted() {
    this.GET_POSTS();
  },
  methods: {
    ...mapActions({
      GET_POSTS: "posts/GET_POSTS"
    })
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
